.block24,
.psixologik-test9 {
  position: absolute;
  top: 0;
  left: 0;
}
.block24 {
  background-color: var(--color-powderblue-100);
  width: 100%;
  height: 739px;
}
.psixologik-test9 {
  letter-spacing: -0.04em;
  line-height: 116%;
  font-family: var(--headings-heading-1);
  display: inline-block;
  width: 530px;
  height: 60px;
}
.ushbu-psixologik-test {
  font-weight: 600;
}
.ta-variantdan-ozingizga {
  color: var(--color-black);
}
.ushbu-psixologik-test-container {
  position: absolute;
  top: 109px;
  left: 0;
  font-size: var(--text-body-1-size);
  letter-spacing: -0.04em;
  line-height: 140%;
  display: inline-block;
  width: 515px;
  color: var(--primaty-grey-dark);
}
.button-child17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-orange);
  width: 185px;
  height: 44px;
}
.testni-topshirish {
  position: absolute;
  top: 13px;
  left: 27.85px;
  letter-spacing: -0.04em;
  line-height: 100%;
  display: inline-block;
  width: 143.23px;
  height: 19px;
}
.button19 {
  position: absolute;
  top: 291px;
  left: 0;
  width: 215px;
  height: 44px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.block-28,
.sec-21 {
  position: absolute;
  top: 198px;
  left: 205px;
  width: 530px;
  height: 335px;
}
.block-28 {
  top: 80px;
  left: 0;
  width: 100%;
  height: 739px;
  color: var(--color-darkturquoise);
}
.block25,
.psixologik-test-1-item {
  position: absolute;
  box-sizing: border-box;
}
.psixologik-test-1-item {
  top: 3171.4px;
  left: 228.4px;
  border-top: 1.2px solid var(--color-gainsboro);
  width: 982.2px;
  height: 1.2px;
}
.block25 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro);
  width: 100%;
  height: 80px;
}
.mingcutenotification-fill-icon6 {
  position: absolute;
  top: 29px;
  left: 1196px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.anvar6 {
  position: absolute;
  top: 11px;
  left: 53px;
  font-weight: 600;
  display: inline-block;
  width: 52px;
  height: 23px;
}
.account-child8 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-powderblue-200);
  width: 45px;
  height: 45px;
}
.a11,
.account-child8,
.account12 {
  position: absolute;
}
.a11 {
  top: 12px;
  left: 15px;
  display: inline-block;
  color: var(--color-darkturquoise);
  width: 15px;
  height: 21px;
}
.account12 {
  top: 19px;
  left: 1244px;
  width: 105px;
  height: 45px;
}
.asosiy6,
.psixologik-test10 {
  position: absolute;
  top: 0;
  font-weight: 600;
  display: inline-block;
  height: 23px;
}
.asosiy6 {
  left: 0;
  color: var(--color-black);
  width: 59.31px;
}
.psixologik-test10 {
  left: 78px;
  width: 135.88px;
  cursor: pointer;
}
.darslar12,
.tadbirlar9 {
  width: 89.51px;
  cursor: pointer;
}
.tadbirlar9 {
  position: absolute;
  top: 0;
  left: 340px;
  font-weight: 600;
  display: inline-block;
  height: 23px;
}
.darslar12 {
  left: 232px;
}
.chat6,
.darslar12,
.faollar-jadvali9,
.interaktiv9 {
  position: absolute;
  top: 0;
  font-weight: 600;
  display: inline-block;
  height: 23px;
}
.interaktiv9 {
  left: 448px;
  width: 100.29px;
  cursor: pointer;
}
.chat6,
.faollar-jadvali9 {
  left: 644px;
  width: 127.25px;
}
.chat6 {
  left: 0;
  width: 46.37px;
}
.vector-icon17 {
  position: absolute;
  height: 25.34%;
  width: 15.58%;
  top: 39.71%;
  right: 0;
  bottom: 34.95%;
  left: 84.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.kelajak-sari6,
.navbar6 {
  position: absolute;
  top: 0;
  left: 567px;
  width: 58.76px;
  height: 23px;
}
.navbar6 {
  top: 30px;
  left: 344px;
  width: 771.25px;
}
.rect-child53,
.rect-child54,
.rect-child55,
.rect-child56 {
  position: absolute;
  top: 31px;
  left: 0;
  border-radius: var(--br-9xs-5);
  background-color: var(--color-orange);
  width: 17.5px;
  height: 17.5px;
}
.rect-child54,
.rect-child55,
.rect-child56 {
  top: 10.5px;
}
.rect-child55,
.rect-child56 {
  top: 0;
  left: 20.5px;
  background-color: var(--color-darkturquoise);
  width: 28px;
  height: 28px;
}
.rect-child56 {
  top: 31px;
  background-color: var(--color-orange);
  width: 17.5px;
  height: 17.5px;
}
.rect14 {
  position: absolute;
  top: 5.25px;
  left: 0;
  width: 48.5px;
  height: 48.5px;
}
.classroom14,
.online14 {
  position: absolute;
  top: 0;
  left: 54.25px;
  display: inline-block;
  width: 117.25px;
  height: 38.5px;
}
.classroom14 {
  top: 35px;
  left: 56px;
  font-size: var(--font-size-mid-5);
  width: 122.5px;
  height: 19.25px;
}
.logo-new14 {
  position: absolute;
  top: 12px;
  left: 85px;
  width: 178.5px;
  height: 54.25px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--headings-heading-1);
}
.header6 {
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: var(--font-size-base);
}
.block26,
.header6,
.malumot6 {
  position: absolute;
  top: 0;
  left: 0;
}
.block26 {
  background-color: var(--color-gray-500);
  width: 100%;
  height: 327px;
}
.malumot6 {
  letter-spacing: -0.04em;
  line-height: 140%;
  display: inline-block;
  width: 88px;
}
.faollar-jadvali10,
.info6 {
  position: absolute;
  width: 125px;
}
.faollar-jadvali10 {
  top: 33px;
  left: 0;
  letter-spacing: -0.04em;
  line-height: 140%;
  font-weight: 600;
  color: var(--primaty-grey-dark);
  display: inline-block;
}
.info6 {
  top: 70px;
  left: 929px;
  height: 58px;
  color: var(--color-darkslategray-100);
}
.biz-bilan-boglanish6,
.div20,
.infoonline-classroomuz3 {
  position: absolute;
  left: 0;
  letter-spacing: -0.04em;
  line-height: 140%;
  display: inline-block;
}
.biz-bilan-boglanish6 {
  top: 0;
  color: var(--color-darkslategray-200);
  width: 174px;
}
.div20,
.infoonline-classroomuz3 {
  top: 33px;
  font-weight: 600;
  width: 170px;
}
.infoonline-classroomuz3 {
  top: 66px;
  width: 225px;
}
.contact6 {
  position: absolute;
  top: 70px;
  left: 625px;
  width: 225px;
  height: 91px;
}
.platforma6 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.04em;
  line-height: 140%;
  display: inline-block;
  color: var(--color-darkslategray-100);
  width: 93px;
}
.ai-bilan-suhbat3,
.darslar13,
.forum3,
.interaktiv10,
.psixologik-test11,
.tadbirlar10 {
  position: absolute;
  top: 33px;
  left: 0;
  letter-spacing: -0.04em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  width: 128px;
}
.ai-bilan-suhbat3,
.darslar13,
.forum3,
.interaktiv10,
.tadbirlar10 {
  top: 66px;
  width: 75px;
}
.ai-bilan-suhbat3,
.forum3,
.interaktiv10,
.tadbirlar10 {
  top: 99px;
  width: 119px;
}
.ai-bilan-suhbat3,
.forum3,
.interaktiv10 {
  top: 132px;
}
.ai-bilan-suhbat3,
.forum3 {
  top: 165px;
  width: 111px;
}
.ai-bilan-suhbat3 {
  top: 198px;
  width: 137px;
}
.logo6,
.platform6 {
  position: absolute;
  top: 70px;
  left: 1175px;
  width: 137px;
  height: 223px;
}
.logo6 {
  top: 0;
  left: 0;
  width: 243.37px;
  height: 57px;
}
.kelajak-sari-yolingizni6,
.online-classroom-20233 {
  position: absolute;
  top: 76px;
  left: 0;
  letter-spacing: -0.04em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  width: 343px;
}
.online-classroom-20233 {
  top: 211px;
  font-size: var(--font-size-base);
  width: 458px;
}
.logo-parent3 {
  position: absolute;
  top: 54px;
  left: 96px;
  width: 458px;
  height: 233px;
}
.logo-new15 {
  top: 46px;
  left: 96px;
  width: 178.5px;
  height: 54.25px;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--headings-heading-1);
}
.footer6,
.icon1,
.logo-new15 {
  position: absolute;
}
.footer6 {
  top: 824px;
  left: 0;
  width: 100%;
  height: 327px;
  font-size: var(--text-body-1-size);
}
.icon1 {
  top: 169px;
  left: 811px;
  width: 475px;
  height: 474px;
  object-fit: cover;
}
.psixologik-test-11 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1146px;
  overflow: hidden;
  text-align: left;
  font-size: var(--headings-heading-2-size);
  color: var(--primaty-grey-dark);
  font-family: var(--text-body-1);
}
